@import '../../globals';

.event {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  &__image {
    border: 3px solid $primary-border;
    width: 100%;
  }
  &__title {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 25px;
  }
  &__venue,
  &__date,
  &__time,
  &__age-limit,
  &__tags {
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__tag {
    margin-right: 8px;
    background-color: $primary-background;
    padding: 4px 15px;
  }
  &__description,
  &__price,
  &__address {
    font-size: 18px;
  }
  &__more-info,
  &__artists-header,
  &__price-heading {
    font-size: 22px;
    font-weight: 800;
  }
  &__artist {
    text-align: center;
  }
  &__artist-image {
    width: 100%;
    border: 3px solid $primary-border;
  }
  &__artist-name {
    font-weight: 800;
    font-size: 18px;
  }
}

// Mobile
@media (min-width: 320px) and (max-width: 480px) {
  .event {
    &__title {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__venue,
    &__date,
    &__time,
    &__age-limit,
    &__tags {
      font-size: 16px;
    }
    &__description,
    &__price,
    &__address {
      font-size: 16px;
    }
  }
}
