.navbar {
  background-color: #163d8d;
  &__logo {
    width: 100px;
  }
}

// Override Bootstrap styles
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
